.menu-item__features[_ngcontent-efc-c98] {
  margin-bottom: 20px;
}

.menu-item__features__row[_ngcontent-efc-c98] {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
  color: var(--paragraph-color);
}

.menu-item__features__row__icon[_ngcontent-efc-c98] {
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.menu-item__image[_ngcontent-efc-c98] {
  max-height: 25rem;
  object-fit: contain !important;
  background-color: #fff;
  height: auto;
  width: 100vw;
  max-width: unset;
  margin: 0 -10px 10px;
}

.menu-item__back-button {
  display: absolute;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Button */
.button {
  display: absolute;
  padding-right: 0px;
  align-items: column;
  text-align: center;
  align-items: center;
  padding: 12px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(243, 95, 16);
  border: #c7bbb5;
}

.link--button {
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  font: 600 14px / 18px Open Sans, sans-serif;
  padding: 14px 0;
  position: relative;
  text-align: center;
}

.link {
  color: #ff7f40;
  text-decoration: none;
}

.link__icon--left {
  left: 12px;
}

.link__icon[_ngcontent-mpd-c33] {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}
