<ul style="padding-left: 0;">
  <img style="padding-left: 0;padding-right: 0;" src="//tagmeimages.azureedge.net/?q=70&amp;url=https://tagmepub.azureedge.net/pubimg/thumbs/admin/theme/d576a0b0-92a3-11ee-924a-0f869b0d3d63.jpg&amp;output=jpg" alt="">
  <div class="menu__list">
    <!-- <div>
      <a>
        {Pratos feitos}
        <div class="descript__category">Pratos executivos servidos mais com uma boa quantidade e vale muito a pena comer no beco da praia.</div>
      </a>
    </div> -->
    <div *ngFor="let group of groupedItems">
      <div>
        <a> 
          {{group.category}}
          <div class="descript__category">{{group.description}}</div>
        </a>
        <ul>
          <div *ngFor="let product of group.products">
            <div class="app-menu-item app-menu-item-container" [routerLink]="['/products', product.id]">
              <h3 class="menu_item__title">{{product?.name}}</h3>
              <div class="menu_item__descript">{{product?.description}}</div>
              <h2 class="menu_item__price">R$ {{product?.price}},00</h2>
              <div class="menu_item__image_container container_list_base">
                <img width="80" height="80" loading="lazy"
                  class="menu_item__image_container__image menu_item__image_container__image--dish"
                  src="./assets/images/{{product.image_name}}" alt="">
                <!-- <img _ngcontent-mpd-c54="" loading="lazy" class="menu_item__features__row__icon menu_item__features__row__icon--custom_tag" src="//tagmeimages.azureedge.net?q=80&amp;w=24&amp;h=24&amp;url=https://tagmepub.blob.core.windows.net/pubimg/Feature/e4d89d50-4d4b-11ec-b76b-97c0ab1dd728.png&amp;output=png&amp;dpr=2" alt="Contém Lactose"> -->
              </div>
              <h2 class="read_more" [routerLink]="['/products', product.id]">Saiba mais</h2>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</ul>