* {
  font-family: "Roboto", Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
}

.banner {
  width: 292px;
  height: 476px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 18px;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  margin-top: 78px;
  margin-bottom: 24px;
}
/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Modal v2 styles */
app-modal {
  display: none;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

#vid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 95px;
  height: 60px;
  background-color: #ffff;
  border: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

#h5-text-vid {
  border: solid 1px black;
  border-radius: 25px;
  padding: 3px;
  font-size: 6pt;
  font-weight: 800;
}

.mainContainer {
  background-color: #fafafa;
  width: 100%;
  min-height: 43em;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mainContainer {
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .mainContainer {
    max-width: 975px;
  }
}
