
  <!-- <a [routerLink]="['/products']">
    <h2>Beco da praia</h2>
  </a> -->
  <header class="header_in_top centerLogo">
    <picture _ngcontent-mpd-c88="" class="brand-banner brand-banner--horizontal">
      <img _ngcontent-mpd-c88="" src="//tagmeimages.azureedge.net/?q=70&amp;url=https://tagmepub.azureedge.net/pubimg/thumbs/admin/theme/81772b50-4d3c-11ec-8477-21bc4b5fc115.jpg&amp;w=180&amp;h=60&amp;dpr=2" alt="Outback Steakhouse Mogi Shopping "><!---->
    </picture>
    <div _ngcontent-mpd-c88="" class="header_in_top__title"></div>
    <div _ngcontent-mpd-c88="" class="menu-section-icon"><div _ngcontent-mpd-c88="" class="menu-toggle"><div _ngcontent-mpd-c88="" class="one"></div><div _ngcontent-mpd-c88="" class="two"></div><div _ngcontent-mpd-c88="" class="three"></div><!----></div></div>
  </header>



<!-- <a class="button fancy-button"><em class="material-icons">search</em>Checkout</a> -->